<div class="container d-flex align-items-center about-section">
  <div class="row">
    <!-- Image Section -->
    <div class="col-md-4">
      <img [src]="profile.image" class="img-fluid rounded-circle profile-img" alt="Profile Picture">
    </div>

    <!-- Details Section -->
    <div class="col-md-8">
      <h2>{{ profile.name }}</h2>
      <p class="lead">{{ profile.bio }}</p>

      <!-- Certifications -->
      <h4>🏆 Certifications</h4>
      <ul class="list-unstyled">
        <li *ngFor="let cert of profile.certifications">📜 {{ cert }}</li>
      </ul>
    </div>
  </div>
</div>
