<div class="container text-center">
  <h2>Skills</h2>
  
  <div class="row mb-2 d-flex justify-content-center flex-wrap">
    <div class="col-4 col-md-2">
      <div class="circle" id="html">
        <span>HTML</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="css">
        <span>CSS</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="js">
        <span>JavaScript</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="angular">
        <span>Angular</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="reactjs">
        <span>ReactJS</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="typescript">
        <span>TypeScript</span>
      </div>
    </div>
  </div>
   <h2>Tools</h2>
  <div class="row mb-2 d-flex justify-content-center flex-wrap">
    <div class="col-4 col-md-2">
      <div class="circle" id="vsode">
        <span>Visual Studio Code</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="devops">
        <span>Azure Devops</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="jira">
        <span>JIRA</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="git">
        <span>GIT</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="postman">
        <span>Postman</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="aws">
        <span>AWS</span>
      </div>
    </div>
  </div>
  <h2>Databases</h2>
    <div class="row mb-2 d-flex justify-content-center flex-wrap">
    <div class="col-4 col-md-2">
      <div class="circle" id="sql">
        <span>MongoDB</span>
      </div>
    </div>
    <div class="col-4 col-md-2">
      <div class="circle" id="sql">
        <span>PostgreSql</span>
      </div>
    </div>
    </div>
</div>
