/* styles.css or global stylesheet */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.dark-theme a {
  color: #90caf9;
}
/* You can add global styles to this file, and also import other style files */
